<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <link rel="stylesheet" href="public/css/app.min.css" />
        <title>{% block title %}{% endblock %} - HadoFramework</title>
    {% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="content">{% block content %}{% endblock %}</div>
            </div>
        </div>

        <div class="row">
            <div id="footer">
                <div class="col-xs-12">
                    {% block footer %}
                        &copy; Copyright 2015
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="public/js/app.min.js"></script>
    {% block js %}
    {% endblock %}
    </body>
</html>